@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.aboutPage::-webkit-scrollbar {
  display: hidden; /* Chrome */
}

.aboutPage {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
  margin: 0;
} */

.ffgh {
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.light {
  --topbar: 190, 70, 124;
  --custom-gradient: linear-gradient(
    180deg,
    rgba(237, 65, 112, 1),
    rgba(144, 75, 137, 1) 72%
  );
  --buttonHover: 236, 72, 153;
  transition: background-color 1s ease, color 1s ease;
}

.dark {
  --topbar: 115, 51, 56;
  --custom-gradient: linear-gradient(
    180deg,
    rgba(207, 80, 86, 1),
    rgba(105, 41, 44, 1),
    rgba(34, 31, 39, 1) 93%
  );
  --buttonHover: 207, 80, 86;
  transition: background-color 1s ease, color 1s ease;
}
